<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- Adicione os links do Bootstrap aqui -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">DevOps Tools</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/upload">Upload env File</a></li>
                            <li class="list-group-item"><a href="/file_list">List Uploaded Files</a></li>
                            <!-- Adicione outras opções de funcionalidades conforme necessário -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
